html {
	height: 100%;
}

body{
	text-align: left;
	font-size: 16px;
	line-height: 1.4;
	background: #fff;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lora', serif;
}

.imageDetailsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(150, 150, 150);
    padding-bottom: 20px;
}

.thumbnail {
	padding: 0px 10px 10px 10px;
	height: 200px;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.imageDetails {
    text-align: center;
    color: rgb(150, 150, 150);
}

.imageTitle {
    color: black;
    margin-bottom: 5px;
    text-align: center;
    /* font-weight: bold; */
}

#body{
	display: flex;
	flex: 1;
	height: 100%;
}

#menuContainer { 
	display: flex;
    flex-direction: column;
	/* width of menu */
	flex: .2;
	max-width: 300px;
	padding: 30px;

	justify-content: flex-start;
	align-items: center;
}

#page {
	flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
}

#fullImage {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
	height: 100%;
}

.grid {
	margin-left: 4%;
}

#name {
	font-size: 18px;
	border-bottom: 1px solid rgb(180, 180, 200);
	padding-bottom: 20px;
}

#carouselControlsContainer {
	display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 10px;
	color: black;
}

#carouselIndexDisplay {
	margin: 0px 10px;
	opacity: 0.5;
}

#carouselControls {
	display: flex;
	flex-direction: row;
	margin: 10px 0px;	
}

.menuOption, .subOption {
	white-space: nowrap;
	text-align: center;
	color: black;
	display: block;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	margin: 10px;
}

.menuOption::before, .subOption::before {
	content: "\2022";
	margin-right: 8px;
	opacity: 0;
}

.menuOption::after, .subOption::after {
	content: "\2022";
	margin-left: 8px;
	opacity: 0;
}

.menuOption.subOption {
	font-size: 16px;
	padding-bottom: 10px;
	margin: 0px;
	color: rgb(150, 150, 150);
}

.menuOption.collapsed > .subOption {
	display: none;
}


.menuSelection::before, .menuSelection::after {
  opacity: 1;
}
