html {
	height: 100%;
}

body{
	text-align: left;
	font-size: 16px;
	line-height: 1.4;
	background: #fff;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lora', serif;
}


#fullImage {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
	height: 100%;
}

.imageDetailsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(150, 150, 150);
    padding-bottom: 20px;
}

.thumbnail {
	padding: 0px 10px 10px 10px;
	height: 200px;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.imageDetails, .splashSubText {
    text-align: center;
    color: rgb(150, 150, 150);
}

.imageTitle, .splashText {
    color: black;
    margin-bottom: 5px;
    text-align: center;
    /* font-weight: bold; */
}

#body{
	display: flex;
	flex: 1;
	height: 100%;
}

#menuContainer { 
	display: flex;
	position: sticky;
    flex-direction: column;
	/* width of menu */
	flex: .2;
	width: 300px;
	padding: 30px;

	justify-content: flex-start;
	align-items: center;

}

#page {
	flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 30px 30px 0px;
    overflow: scroll;
}

.gridItem {
	width: 45%;
	height: auto;
	text-align: left;
	margin-bottom: 30px;
}

.gridItem .imageTitle, .gridItem .imageDetails {
	text-align: left;
}


.gridItem>img {
	width: 100%;
	margin-bottom: 5px;
}

#grid {
	width: 100%;
	padding-bottom: 50px;
}

#mobilePage {
	display: none;
}


#mobileImage {

}

#menu {
	flex: 1;
}



.grid {
	margin-left: 4%;
}

.menuOption, .subOption {
	white-space: nowrap;
	text-align: center;
	color: black;
	display: block;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	margin: 10px;
}

.homeMenuOption {
	font-size: 18px;
	border-bottom: 1px solid rgb(180, 180, 200);
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 100%;
}

#carouselControlsContainer {
	display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 10px;
	color: black;
}

#carouselControlNext, #carouselControlPrev {
	font-size: 24px;
	font-height: 16px;
}

#carouselIndexDisplay {
	margin: 0px 10px;
	opacity: 0.5;
}

#carouselControls {
	display: flex;
	flex-direction: row;
	margin: 10px 0px;	
	align-items: center;
}





.menuOption::before, .subOption::before {
	content: "\2022";
	margin-right: 8px;
	opacity: 0;
	color: rgb(150, 150, 150);
}

.menuOption::after, .subOption::after {
	content: "\2022";
	margin-left: 8px;
	opacity: 0;
	color: rgb(150, 150, 150);
}

.menuOption.subOption {
	font-size: 16px;
	padding-bottom: 10px;
	margin: 0px;
	color: rgb(150, 150, 150);
}

.menuOption.collapsed > .subOption {
	display: none;
}


.menuSelection::before, .menuSelection::after {
  opacity: 1;
}


@media only screen and (max-width: 600px) {

	#body {
		flex-direction: column;
	}
	
  	#menuContainer { 
		flex: 1;
		width: 100%;
		padding: 10px;
	}

	#page {
	}

	#fullImage {
		object-fit: contain;
		max-height: initial;
		max-width: 100%;
		height: initial;
	}

	#carouselControlsContainer {
		display: none;
	}

}

