html { height: 100%; }

i { font-style: italic; }

b { font-weight: bold; }

img { user-select: none; }

a{ color: #7b90ab; }

body{
	text-align: left;
	font-size: 16px;
	line-height: 1.6;
	background: #fff;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lora', serif;
	overflow: hidden;
	overscroll-behavior: none;
}

#body{
  display: flex;
  flex: 1;
  height: 100%;
}

#mobilePage {
  display: none;
}

.preDot::before {
  content: "\00a0\00B7\00a0";
}


/* ////////////////// CV STYLES ///////////////////// */

.cvContainerHeading {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 1px solid rgb(200, 200, 200);
  color: rgb(100, 100, 100);
}

.entryCV {
  margin-bottom: 15px;
}

.titleCV {
  font-size: 16px;
  font-weight: bold;
}

.preDot::before {
  content: "\00a0\00B7\00a0";
}

/* SPLASH STYLE */

#splashContainer {
  position: absolute;
  background-color: pink;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: background 1.5s linear;
}


/* ////////////////// BIO + STATEMENT STYLES ///////////////////// */

.bioContainer, .cvContainer, .statementContainer {
  width: 90%;
  margin: 0 5%;
}

.statementText, .bioText {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bioRow {
  margin-bottom: 30px;
}

.bioImage {
  width: 50%;
  margin-left: 0px;
  min-width: 500px;
}

.bioLinksContainer {
  flex-direction: column;
}

.fullImage {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
	height: 100%;
}

/* ////////////////// CAROUSEL STYLES ///////////////////// */

.imageDetailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: solid 1px rgb(200, 200, 200);
  padding-bottom: 20px;
  margin-top: 10px;
  border-top: solid 1px rgb(200, 200, 200);
  padding-top: 20px;
  width: 100%;
}

.thumbnail {
  padding: 0px 10px 10px 10px;
  height: 200px;
  cursor: pointer;
}


.imageDetails {
  text-align: left;
  color: rgb(100, 100, 100);
  width: 100%;
}

.imageDescription {
  color: rgb(100, 100, 100);
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.imageTitle {
  color: black;
  text-align: center;
  font-style: italic;
  width: 100%;
}

#menuContainer { 
	display: flex;
	position: sticky;
  flex-direction: column;
	/* width of menu */
	width: 300px;
	margin: 30px;
	justify-content: flex-start;
	align-items: center;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
  z-index: 100;
}

#page {
  position: relative;
	flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 50px 50px 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.gridImage {
  object-fit: contain;
  margin-bottom: 15px;
  width: 100%;
}

.gridItem .imageTitle {
  text-align: center;
  margin-bottom: 5px;
}

.gridItem .imageDetails {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

#grid {
	width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#carouselControlsContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  color: black;
  width: 100%
}

#carouselControlNext, #carouselControlPrev {
  font-size: 24px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;
}

#carouselControlShowThumbnails {
  cursor: pointer;
  user-select: none;
}

#carouselControlNext:hover, #carouselControlPrev:hover, #carouselControlShowThumbnails:hover {
  opacity: 0.7;
}

#carouselIndexDisplay {
  margin: 0px 10px;
  color: rgb(100, 100, 100);
  user-select: none;
  width: 70px;
  text-align: center;
}

#carouselControls {
  display: flex;
  flex-direction: row;
  margin: 10px 0px; 
  align-items: center;
}


/* ////////////////// MENU STYLES ///////////////////// */

#menu {
	padding: 30px;
  background: white;
  width: 300px;
}

.bioLink {
  padding: 5px;
  cursor: pointer;
}

.bioLink:hover {
  opacity: 0.7;
}

.menuOption, .subOption {
	white-space: nowrap;
	text-align: center;
	color: black;
	display: block;
	text-decoration: none;
	font-size: 18px;
	padding: 5px 0px;
	width: 100%;
  cursor: pointer;
  user-select: none;
}

.menuOption:hover, .subOption:hover {
  opacity: 0.7;
}

.homeMenuOption {
	font-size: 18px;
	border-bottom: 1px solid rgb(200, 200, 200);
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 100%;
  padding-top: 0px !important;
}

.menuOption::before, .subOption::before {
	content: "\00B7";
	margin-right: 8px;
	opacity: 0;
	color: rgb(200, 200, 200);
}

.menuOption::after, .subOption::after {
	content: "\00B7";
	margin-left: 8px;
	opacity: 0;
	color: rgb(200, 200, 200);
}

.homeMenuOption::before, .homeMenuOption::after{
  content: "";
}

.menuOption.subOption {
	font-size: 16px;
	color: rgb(100, 100, 100);
}

.menuOption.collapsed > .subOption {
	display: none;
}

.menuSelection::before, .menuSelection::after {
  opacity: 1;
}


@media screen and (max-width: 1100px) {
  
  body {
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
	  overflow: initial;
  }

  .splashMask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }

  .bioContainer, .cvContainer, .statementContainer {
    width: 100%;
    margin: 0;
  }

  .bioRow {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bioImage {
    width: 100%;
    min-width: 0px;
  }

  #menuContainer {
  	display: block;
  	width: 100%;
  	overflow: initial;
    margin: 0px;
  }

  #menu {
    margin: auto;
  }

  #page {
  	overflow: initial;
    padding: 3%;
    padding-bottom: 30px;
    padding-top: 0px;
    height: 100%;
    display: block;
  }

 .fullImage {
  	height: initial;
  	width: 100%;
  }

  .gridImage {
    cursor: initial;
  }

  .gridItem {
  	width: 100%;
  	height: auto;
  	text-align: left;
  	margin-bottom: 30px;
  }

  .menuOption, .subOption {
   	padding: 5px 0px;
   	margin: 0px;
  }

  .menuOption.subOption {
   	padding-bottom: 5px;
   	padding-top: 0px;
   	margin: 0px;
  }

  .homeMenuOption {
   	margin: 5px;
   	padding-bottom: 5px;
  }
}

