<div class="exhibit_hours">
    <div> 
        <div>Opening Reception</div>
        <div>Friday, May 7, 6 - 8pm</div>
    </div>
    <div> 
        <div>Special Weekend Hours</div>
        <div>Saturday, May 15, 12 - 3pm</div>
    </div>
    <div> 
        <div>Usagi Hours</div>
        <div>
            <div>Monday - Friday, 10am - 4pm</div>
            <div>Saturday - Sunday, Closed</div>
        </div>
    </div>
    <div> 
        <div>Purchasing Works</div>
        <div>
            <div>
                Sales may be made through Usagi or Sam Ticknor.
                Plan to pick up purchased works from Usagi between June 1 - June 15.
                Shipping can be accommodated, the purchaser will cover the cost. We will reach out in late May with details.  
            </div>
        </div>
    </div>
</div>