<div class="exhibit_links">
    <a href="https://samt.work" target="_blank" >Sam Ticknor</a>
    <a href="https://www.instagram.com/sammytthebrave/" target="_blank" >@sammytthebrave</a>
    <a href="mailto: srticknor@gmail.com" target="_blank" >srticknor@gmail.com</a>
    <div style="height: 40px;"></div>
    <a href="https://usaginy.com" target="_blank" >Usagi NY</a>
    <a href="https://www.instagram.com/usaginy/" target="_blank" >@usaginy</a>
</div>