html {
  height: 100%;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

img {
  user-select: none;
}

a {
  color: #7b90ab;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

#root {
  display: flex;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
  overflow: hidden;
  overscroll-behavior: none;
}

#body {
  display: flex;
  flex: 1;
  height: 100%;
}

#mobilePage {
  display: none;
}

.preDot::before {
  content: "\00a0\00B7\00a0";
}

/* ////////////////// CV STYLES ///////////////////// */
.cvContainerHeading {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 1px solid rgb(200, 200, 200);
  color: rgb(100, 100, 100);
}

.entryCV {
  margin-bottom: 15px;
}

.titleCV {
  font-size: 16px;
  font-weight: bold;
}

.preDot::before {
  content: "\00a0\00B7\00a0";
}

/* SPLASH STYLE */

#splashContainer {
  position: absolute;
  background-color: pink;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: background 1.5s linear;
}


/* ////////////////// BIO + STATEMENT STYLES ///////////////////// */

.bioContainer,
.cvContainer,
.statementContainer {
  width: 90%;
  margin: 0 5%;
}

.statementText,
.bioText {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bioRow {
  margin-bottom: 30px;
}

.bioImage {
  width: 50%;
  margin-left: 0px;
  min-width: 500px;
}

.bioLinksContainer {
  flex-direction: column;
}

.fullImage {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

/* ////////////////// CAROUSEL STYLES ///////////////////// */

.imageDetailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: solid 1px rgb(200, 200, 200);
  padding-bottom: 20px;
  margin-top: 10px;
  border-top: solid 1px rgb(200, 200, 200);
  padding-top: 20px;
  width: 100%;
}

.thumbnail {
  padding: 0px 10px 10px 10px;
  height: 200px;
  cursor: pointer;
}


.imageDetails {
  text-align: left;
  color: rgb(100, 100, 100);
  width: 100%;
}

.imageDescription {
  color: rgb(100, 100, 100);
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.imageTitle {
  color: black;
  text-align: center;
  font-style: italic;
  width: 100%;
}

#menuContainer {
  display: flex;
  position: sticky;
  flex-direction: column;
  /* width of menu */
  width: 325px;
  margin: 30px;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

#page {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 50px 50px 0px;
  max-height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#scrollContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.pageModule {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.workImage {
  max-height: 95vh;
  max-width: 100%;
  margin-bottom: 20px;
  object-fit: contain;
}

.workText {
  max-width: 80%;
  margin-bottom: 10px;
}


.gridItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.gridImage {
  object-fit: contain;
  margin-bottom: 15px;
  width: 100%;
  max-height: 90vh;
}

.gridItem .imageTitle {
  text-align: center;
  margin-bottom: 5px;
}

.gridItem .imageDetails {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

#grid {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#carouselControlsContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  color: black;
  width: 100%
}

#carouselControlNext,
#carouselControlPrev {
  font-size: 24px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;
}

#carouselControlShowThumbnails {
  cursor: pointer;
  user-select: none;
}

#carouselControlNext:hover,
#carouselControlPrev:hover,
#carouselControlShowThumbnails:hover {
  opacity: 0.7;
}

#carouselIndexDisplay {
  margin: 0px 10px;
  color: rgb(100, 100, 100);
  user-select: none;
  width: 70px;
  text-align: center;
}

#carouselControls {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
}


/* ////////////////// MENU STYLES ///////////////////// */

#menu {
  padding: 25px 30px;
  background: white;
  width: 325px;
}

.homeMenuOption::before,
.homeMenuOption::after,
.menuOption::before,
.menuOption::after {
  display: none;
}

.menuOption {
  white-space: nowrap;
  color: black;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 0px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.menuOptionSubtitle {
  font-size: 14px;
  opacity: .5;
}

.menuOption:hover,
.subOption:hover {
  opacity: 0.7;
}

.homeMenuOption {
  font-size: 18px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding-top: 0px !important;
}

.menuOption::before,
.subOption::before {
  content: "\00B7";
  margin-right: 8px;
  opacity: 0;
  color: rgb(200, 200, 200);
}

.menuOption::after,
.subOption::after {
  content: "\00B7";
  margin-left: 8px;
  opacity: 0;
  color: rgb(200, 200, 200);
}

.homeMenuOption::before,
.homeMenuOption::after {
  content: "";
}

.menuOption.subOption {
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.menuOption.collapsed>.subOption {
  display: none;
}

.menuSelection::before,
.menuSelection::after {
  opacity: 1;
}


@media screen and (max-width: 1100px) {

  #root {
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    padding-bottom: 200px;
    max-height: 100vh;
  }

  .splashMask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .bioContainer,
  .cvContainer,
  .statementContainer {
    width: 100%;
    margin: 0;
  }

  .bioRow {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bioImage {
    width: 100%;
    min-width: 0px;
  }

  #menuContainer {
    display: block;
    width: 100%;
    overflow: initial;
    margin: 0px;
  }

  #menu {
    margin: auto;
    width: initial;
    max-width: 325px;
  }

  #page {
    overflow: initial;
    padding: 0px 3%;
  }

  #scrollContent {
    padding-bottom: 50vh;
  }

  .fullImage {
    height: initial;
    width: 100%;
  }


  .menuOption,
  .subOption {
    padding: 5px 0px;
    margin: 0px;
  }


  .homeMenuOption {
    margin: 5px;
    padding-bottom: 15px;
  }

  .pageModule {
    margin-bottom: 30px !important;
  }

  .textWithImageModule,
  .imageWithTextModule {
    gap: 10px !important;
  }

  .imageWithTextModuleText {
    align-items: center !important;
    text-align: left !important;
  }

  .textModule {
    align-items: center !important;
    gap: 15px !important;
  }

  .textModule div {
    max-width: 90% !important;
    width: 90% !important;
  }

  .cascadeModule>div {
    flex-direction: column !important;
    gap: 30px !important;
  }

  .cascadeElement {
    margin-top: 0px !important;
    width: 100% !important;
    align-self: center !important;
  }

  .textWithImageModule {
    flex-direction: column-reverse !important;
  }

  .workImage {
    width: 80% !important;
  }

  .imageFullModule>.workImage,
  .carouselModule .workImage {
    width: 100% !important;
    min-height: 30vh !important;
  }

  .pageModule.carouselModule div {
    min-width: 70% !important;
    width: 100% !important;
    text-align: center;
  }

}

@media screen and (max-width: 1100px) {

  .workText {
    max-width: 90% !important;
  }

  .pageModule {
    flex-direction: column !important;
  }

  .textWithImageModule {
    flex-direction: column-reverse !important;
  }

}